@{
    ViewData["Title"] = "ROOMS";
}


@section css{
    <link rel="stylesheet" href="~/css/roomstyle_select.css">
}

<section id="poem">
    <div class="poemsup">
        <h1>三人套房</h1>
    </div>
    <hr class="hr01">
    <hr class="hr02">
    <div class="poemsdown">
        黑膠唱盤與精選唱片的享受，<br>
        音樂流淌在舒適寬敞的空間，<br>
        專屬於三人的幸福時光。
    </div>
</section>
<article id="allroom">
    <section id="tripleroom">
        <div class="mainImg">
            <img src="~/img/Room/triple_room1.jpg" alt="triple_room">
        </div>
        <div class="roomContent">
            <div class="roomtxt">
                <h2>簡約三人房</h2>
                中型三人房，巧妙運用上下舖的3張單人床方式，為旅宿帶來變化，<br />
                小沙發更提供了額外的小確幸，恰到好處的空間與合宜價格更成為高CP值的優選。
            </div>
            <div>
                <ul class="room_icon">
                    <li>
                        <i><img src="~/img/use/safe.png" title="保險箱" alt="保險箱"></i>
                        <p>保險箱</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/tv.png" title="液晶電視" alt="液晶電視"></i>
                        <p>液晶電視</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/movie.png" title="黑膠唱盤" alt="黑膠唱盤"></i>
                        <p>黑膠唱盤</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/shower.png" title="淋浴間" alt="淋浴間"></i>
                        <p>淋浴間</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/slippers.png" title="室內皮拖鞋" alt="室內皮拖鞋"></i>
                        <p>室內皮拖鞋</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/bpa-free.png" title="迎賓氣泡水" alt="迎賓氣泡水"></i>
                        <p>迎賓氣泡水</p>
                    </li>
                </ul>
                <div class="roomView">
                    <a asp-controller="Rooms" asp-action="Singleroom"  asp-route-Id="300">VIEW MORE</a>
                </div>
            </div>
        </div>
    </section>
    <section id="tripleroom2">
        <div class="mainImg">
            <img src="~/img/Room/triple_room2.jpg" alt="triple_room">
        </div>
        <div class="roomContent">
            <div class="roomtxt">
                <h2>經典三人房</h2>
                既使擺放了三張床鋪，空間依舊寬敞不顯擁擠。<br />
                適合與家人、朋友一同度過平靜的愜意時光。
            </div>
            <div>
                <ul class="room_icon">
                    <li>
                        <i><img src="~/img/use/safe.png" title="保險箱" alt="保險箱"></i>
                        <p>保險箱</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/tv.png" title="液晶電視" alt="液晶電視"></i>
                        <p>液晶電視</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/movie.png" title="黑膠唱盤" alt="黑膠唱盤"></i>
                        <p>黑膠唱盤</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/clean.png" title="浴缸" alt="浴缸"></i>
                        <p>浴缸</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/slippers.png" title="室內皮拖鞋" alt="室內皮拖鞋"></i>
                        <p>室內皮拖鞋</p>
                    </li>
                    <li>
                        <i><img src="~/img/use/bpa-free.png" title="迎賓氣泡水" alt="迎賓氣泡水"></i>
                        <p>迎賓氣泡水</p>
                    </li>
                </ul>
                <div class="roomView">
                    <a asp-controller="Rooms" asp-action="Singleroom"  asp-route-Id="301">VIEW MORE</a>
                </div>
            </div>
        </div>
    </section>
	<br>
    <br>
    <br>
    <div class="back">
        <a asp-controller="Rooms" asp-action="Roomsmasterpage">
            <i class="fas fa-hand-point-left"></i> Back
        </a>
    </div>
</article>