@model project.Models.UserLogin

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_user1.cshtml";
}
<br />
<br />
<h1>編輯帳號密碼</h1>
<br />
<br />
<hr />
<div class="row">
    <div class="col-4 offset-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WID" />
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authorize" class="control-label"></label>
                <input asp-for="Authorize" class="form-control" />
                <span asp-validation-for="Authorize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>
<br />
