@{
    ViewData["Title"] = "About Bear";
}
@section css{
    <link rel="stylesheet" href="~/css/about.css">
}

<section id="About">
    <div class="jumbotron">
        <h1>ABOUT BEAR</h1>
        <h4>關於我們</h4>
    </div>
    <!-- mobile-->
    <div class="aboutBox">
        <div class="poster">
            「旅行的目的不是一個地理名詞，而是看待事物的全新角度。」
        </div>
        <div class="aboutBg">
            <h2>旅行是對庸常生活的一次越獄。</h2>

            <div class="aboutTxt">
                Bear House
                <br>
                希望每一位來訪的好友，
                都能找到最適合自己的旅行方式，
                輕裝簡從或秘密居遊都能滿足！<br>
            </div>
            <div> <img src="~/img/3.jpg" /></div>
            <div>
                <br>期待與充滿熱情的生活玩家，協作創意，實現想像。<br>

                我們將空間分享，迎接每位敢於造夢的旅人夥伴，<br>

                以最輕鬆舒適的方式交流夢想，<br>

                一起創作、策展，走一趟最人情味的在地小旅行，<br>

                甚至放空什麼都不做，<br>

                Nothing is impossible，<br>

                一趟旅行，尋回自我，由你重新定義。<br>
            </div>
        </div>
    </div>
</section>
