#roomtype,#poem{
	text-align:center;
    line-height: 2rem;
	font-family: cwTeXFangSong, serif;
}

#roomtype h1 {
    font-family: "copperplat";
    font-size: 3.5rem;
    margin-bottom: 24px;
    line-height: 2.9rem;
    letter-spacing: 3px;
    color: #8b6f4c;
}
#roomtype h3 {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.16em;
    color: darksalmon;
}
.hr01{   /*hr線條:樣式 */
border-top:0PX;
    border-bottom:5px #5D4037 solid;
    width:75%;
    margin-top: 20px;
    margin-bottom: -10px;
}
.hr02{  /*hr線條:樣式 */
    border-bottom:2px #795548 solid;
    width:70%;
}

#singleroom,#doubleroom,#tripleroom,#familyroom{
	max-width:680PX;
	margin:50PX auto 20PX;
	background-color: #e7eaebfd;/*rgb(230,225,230)*/
	display:block;
	padding-top:35PX;
	overflow:hidden;
}

#allroom img{
	display:block;
	margin:0 auto;
	max-width:100%;
	max-height:auto;
}

.roomContent{
	padding:25PX 20PX;
	max-width:650PX;
	margin:0 auto;
}

ul{
	padding:20PX 0;
    text-align: center;
	margin:0;
}
ul li {
	padding:20PX 0 0;
	list-style-type:none;    
	display: inline-block;
	width:75PX;
	margin:0 10PX;
}

ul li img{
	width:40PX;
}
ul li p{
	font-size:13PX;
}

.roomview {
    border-style: double;
	padding:10PX auto;
    text-align: center;
    width: 120px;
    margin: 0 auto;
}
.roomview a {
    text-decoration: none;
    color:gray;
    }
.roomview a:hover {
    text-decoration: none;
    color: #333;
	font-size:18PX;
    }

.btn{
margin: 0 auto;
}